* {
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    width:100vw;
    height:100vh;
    font-family: 'Lato', sans-serif;
}
.wrapper {
    width:100vw;
    height:100vh;
}
.wrapper .leftsidebar {
    background: rgba(0, 0 ,0, .6);
    display:none;
    float: none;
}
.wrapper .main {
    width: 100%;
    height: 100vh;
    background: rgba(246, 246, 233, 0.5);
    float: none;
    overflow-y: hidden;
}
.wrapper .main .main-body{
    overflow-y: auto;
}
.wrapper .main .left-body{
    width: 100%;
    height: 100%;
    float: left;    
    display: flex;
    opacity: 1;
}
.wrapper .main.selected .tab .left-body{
    width: 0;
    opacity: 0;
}
.wrapper .main .tab .left-body.display{
    display: none;
}
.wrapper .main .tab .tab-content{
    height: 90%;
}
.wrapper .main .tab .tab-content > div{
    box-sizing:border-box;
    overflow-y: auto;
    padding: 1rem 2rem 4rem;
    width:100%;
    height: 100%;
}
.wrapper .main .tab .right-body.tab-content > div{
    padding: 1rem 2rem;
}
.wrapper .main .right-body{
    background: rgba(255, 255, 255, 1);
    box-shadow: .2rem 0 1rem rgba(109, 109, 109, 0.2) inset;
    height: 100%;
    width:0;
    opacity: 0;
    float: right;
}
.wrapper .main .tab .right-body.display{
    display: none;
}
.wrapper .main.selected .tab .right-body{
    width:100%;
    opacity: 1;
}
.header{
    background-image: url('../UI-elements/background.png');
    height: 10%;
    position: relative;
}
.header h1{
    color:rgba(255, 255, 255, .8);
    text-align: left;
    width:16rem;
    position: absolute;
    top:1rem;
    left:2rem;
    text-transform:capitalize;
    font-size: 1.7rem;
}
.main.selected .header h1{
    left:calc(50% - 8rem);
    text-align: center;
}
.loader{
    background-image: url('../UI-elements/loader.gif');
    background-size: cover;
    background-repeat: no-repeat;
    width:6rem;
    height:4rem;
    margin:0 auto;
}
.logo{
    background-image: url('../UI-elements/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    width:100px;
    height:60px;
    margin:2rem 3rem;
}
.tab{
    width:100%;
    height:100%;
}
.main .backbtn{
    display: none;
}
.main.selected .backbtn{
    display: inline-block;
    position: absolute;
    z-index: 20;
    left:1.5rem;
    top:1rem;
    background-image: url('../UI-elements/backarrow-09.png');
    background-size: contain;
    background-repeat: no-repeat;
    width:2.2rem;
    height:2.2rem;
    margin:0 auto;
}
@media(min-width: 992px){
    .wrapper .main{
        width: 80%;
        display:block;
        float: right;
    }
    .wrapper .leftsidebar {
        width: 20%;
        display:block;
        float: left;
    }
}
@media(min-width: 768px){
    .wrapper .main .tab .left-body, .wrapper .main.selected .tab .left-body{
        width: 60%;
        opacity: 1;
        display:flex;
        float: left;
    }
    .wrapper .main .tab .right-body, .wrapper .main.selected .tab .right-body{
        opacity: 1;
        width: 40%;
        display:flex;
        float: right;
    }
    .wrapper .main .main-body{
        overflow-y: hidden;
    }
    .wrapper .main .tab .tab-content > div{
        overflow-y: auto;
        height: 100%;
    }
    .wrapper .main .tab .tab-content{
        height: 90%;
    }
    .main .backbtn, .main.selected .backbtn{
        display: none;
    }
    .main.selected .header h1{
        left:2rem;
        text-align: left;
    }
    .wrapper .main .tab .right-body.display, .wrapper .main .tab .left-body.display{
        display: flex;
    }
    .wrapper .main .tab .right-body.tab-content > div{
        padding: 2rem 2rem 3rem;
    }
}