* {
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    width:100vw;
    height:100vh;
    font-family: sans-serif;
}
.wrapper {
    width:100vw;
    height:100vh;
}
.wrapper .leftsidebar {
    background: rgba(0, 0 ,0, .6);
    display:none;
    float: none;
}
.wrapper .main {
    width: 100%;
    height: 100vh;
    background: rgba(246, 246, 233, 0.5);
    float: none;
    overflow-y: hidden;
}
.wrapper .main .main-body{
    overflow-y: auto;
}
.wrapper .main .left-body{
    width: 100%;
    float: left;
}
.wrapper .main .tab.selected .left-body{
    width: 0;
    float: left;
    display: none;
}
.wrapper .main .tab .tab-content > div{
    padding: 2em;
    width:100%;
    height:100%;
}
.wrapper .main .left-body .sub-right{
    width: 100%;
    background: rgba(255, 255, 255, 1);
    float: none;
    height: 100%;
    box-shadow: 0 .2rem 1rem rgba(109, 109, 109, 0.2) inset;
}
.wrapper .main .left-body .sub-left{
    height: 40%;
}
.wrapper .main .right-body{
    background: rgba(255, 255, 255, 1);
    box-shadow: .2rem 0 1rem rgba(109, 109, 109, 0.2) inset;
    height: 100%;
    width:0;
    display:none;
    float: right;
}
.wrapper .main .tab.selected .right-body{
    background: rgba(255, 255, 255, 1);
    box-shadow: .2rem 0 1rem rgba(109, 109, 109, 0.2) inset;
    height: 100%;
    width:0;
    display:block;
    float: right;
}
.header{
    background-image: url('../UI-elements/background.png');
    height: 10%;
    position: relative;
}
.loader{
    background-image: url('../UI-elements/loader.gif');
    background-size: cover;
    background-repeat: no-repeat;
    width:100px;
    height:70px;
    margin:0 auto;
}
.logo{
    background-image: url('../UI-elements/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    width:100px;
    height:60px;
    margin:2rem 3rem;
}
.tab{
    width:100%;
    height:100%;
}
@media(min-width: 992px){
    .wrapper .main{
        width: 80%;
        display:block;
        float: right;
    }
    .wrapper .leftsidebar {
        width: 20%;
        display:block;
        float: left;
    }
}
@media(min-width: 768px){
    .wrapper .main .left-body{
        width: 60%;
        display:flex;
        float: left;
    }
    .wrapper .main .left-body.inner-float{
        width: 100%;
        display:block;
        float: none;
    }
    .wrapper .main .left-body .sub-left{
        width: 60%;
        display:flex;
        float: left;
        height: 100%;
    }
    .wrapper .main .left-body .sub-right{
        width: 40%;
        display:flex;
        float: right;
        box-shadow: .2rem 0 1rem rgba(109, 109, 109, 0.2) inset;
    }
    .wrapper .main .right-body{
        width: 40%;
        display:flex;
        float: right;
    }
}