* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}
header {
    background-image: url('../UI-elements/background.png');
    padding: .5rem 0 0;
    width: 100%;
    overflow: hidden;
    z-index: 10;
    background: rgb(61, 61, 61);
    box-shadow: 0 .4rem .3rem rgba(0, 0, 0, .2);
}
nav{
    height: 100%;
    margin: 0 auto;
}
nav a{
    width: 49.7%;
    text-align: center;
    display: inline-block;
    color: rgba(255,255,255, 1);
    font-size: 1.2rem;
    font-weight: 600;
    padding: .6rem 1rem .7rem;
    /* margin-right: -4px; */
    background: rgba(68, 180, 115, 0.9);
}
nav a:first-child{
    float: left;
}
nav a:last-child{
    float: right;
}
nav a:hover{
    background: rgba(68, 180, 115, 0.7);
}
.logo{
    background-image: url('../UI-elements/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    width:5rem;
    height:3.5rem;
    margin: .5rem auto;
}
main{
    width: 100%;
    position: relative;
}
footer{
    width: 100%;
    position: relative;
    bottom: 0;
}
.carousel{
    background-image: url('../UI-elements/landing-sm.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -3rem;
    width:100%;
    height:25rem;
}
.mailsend{
    width:6rem;
    height:6rem;
    background: rgba(237, 117, 69, 0.7);
    margin: 1rem auto;
    border-radius: 8rem;
    box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .2);
}
.mailsend div{
    background-image: url('../UI-elements/connection.png');
    background-size: contain;
    background-repeat: no-repeat;
    height:60%;
    width:60%;
}
.content{
    padding: 1rem 2rem 2rem;
    height: 20%;
}
.content p{
    width: 90%;
    margin: 1rem auto;
}
p{
    line-height: 1.4rem;
    padding: 0;
    margin-top: 1rem;
}
.features .title{
    width:100%;
    box-shadow: 0rem .5rem .5rem rgba(0, 0, 0, .2) inset;
    color: rgba(255, 255, 255, 0.89);
    font-size: 2rem;
    padding: 1.3rem;
    font-weight: lighter;
    font-family: 'Yesteryear', sans-serif;
    text-align: center;
    background: rgba(179, 114, 71, 0.8);
    margin: 1rem auto;
}
.features div.text-center{
    padding: 1rem 1rem;
    min-height: 13rem;
}
.features > div{
    padding: 2rem;
}
.features div div.anim {
    vertical-align: middle;
    height: 25rem;
}
.features div div.anim:hover {
    background-color: rgba(223, 220, 69, 0.3);
}
.devices{
    background-image: url('../UI-elements/devices.png');
    background-size: contain;
    background-repeat: no-repeat;
    width:15rem;
    height:10rem;
    margin: .5rem auto;
}
.upload{
    background-image: url('../UI-elements/upload.png');
    background-size: contain;
    background-repeat: no-repeat;
    width:10rem;
    height:10rem;
    margin: .5rem auto;
}
.reset{
    background-image: url('../UI-elements/reset.png');
    background-size: contain;
    background-repeat: no-repeat;
    width:10rem;
    height:10rem;
    margin: .5rem auto;
}
.sms{
    background-image: url('../UI-elements/sms.png');
    background-size: contain;
    background-repeat: no-repeat;
    width:10rem;
    height:10rem;
    margin: .5rem auto;
}
.smart{
    background-image: url('../UI-elements/smart.png');
    background-size: contain;
    background-repeat: no-repeat;
    width:7rem;
    height:7rem;
    margin: .5rem auto;
}
.speed{
    background-image: url('../UI-elements/speed.png');
    background-size: contain;
    background-repeat: no-repeat;
    width:7rem;
    height:7rem;
    margin: .5rem auto;
}
.support{
    background-image: url('../UI-elements/support.png');
    background-size: contain;
    background-repeat: no-repeat;
    width:7rem;
    height:7rem;
    margin: .5rem auto;
}
.offers{
    background-image: url('../UI-elements/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 17rem;
    width: 100%;
}
.offers .title{
    width:100%;
    box-shadow: 0 .3rem .2rem rgba(0, 0, 0, .1) inset;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding: 2rem 1rem;
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
    text-align: center;
    height: 10%;
}
.offer{
    width: 100%;
    height: 90%;
    padding: 6rem 0 3rem;
    box-shadow: 0rem -.5rem .3rem rgba(0, 0, 0, .2) inset;
}
.offer .offercon{
    width: 100%;
    height: 100%;
}
.centercon:hover{
    transform: scale(1.1);
}
.offer .offercon:nth-child(2){
    margin: 5rem auto;
}
.offer .offercon h3{
    margin-top: 4.5rem;
    color: rgba(255,255,255, .9);
}
footer {
    /* min-height: 15rem; */
}
footer > div:nth-child(2){
    width:100%;
    color: rgba(255, 255, 255, 0.89);
    font-size: 1.5rem;
    padding: 1.3rem;
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
}
@media (min-width: 576px) {
    p{
        padding: 0 2rem;
    }
    .carousel{
        background-position-x: 0;
        height:33rem;
    }
}
@media(min-width: 768px){
    .carousel{
        background-image: url('../UI-elements/landing-desktop.png');
        background-position: right;
        margin-top: 0;
    }
    header{
        background: rgba(0,0,0, .7);
        position: fixed;
    }
    .offer .offercon{
        width: 33%;
    }
    .offer{
        padding: 1rem;
    }
    .offer .offercon:nth-child(2){
        margin: 4rem auto 2rem;
    }
    .features div div.anim {
        width: 40%;
        display: inline-block;
        margin: 1% 4.5%;
        height: 22rem;
    }
    .devices{
        width:9rem;
        height:6rem;
    }
    .upload{
        width:7rem;
        height:7rem;
    }
    .reset{
        width:7rem;
        height:7rem;
    }
    .sms{
        width:7rem;
        height:7rem;
    }
    .features p{
        padding: 0;
    }
    nav{
        float: right;
        height: 100%;
        margin: 1rem 1rem;
    }
    nav a{
        width: 7rem;
        border-radius: .5rem;
        margin: auto .5rem;
        font-size: 1rem;
    }
    .logo{
        float: left;
        margin-left: 2rem;
    }
    .content p{
        width: 80%;
    }
}
@media(min-width: 992px){
    .features div div.anim {
        height: 20rem;
    }
    .content p{
        width: 50%;
    }
}