* {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-image: url('../UI-elements/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
}
/* .logo{
    background-image: url('../UI-elements/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    width:13rem;
    height:9rem;
    margin:0 auto;
} */
.wrapper{
    height: max-content;
}
.loader{
    background-image: url('../UI-elements/loader.gif');
    background-size: cover;
    background-repeat: no-repeat;
    width:90px;
    height:60px;
    margin:0 auto;
}
.form-hd input, .form-hd button{
    font-size: 1.3rem;
    width:100%;
}
.form-hd{
    width: 90%;
}
.logo{
    width:9rem;
    height:5.5rem;
    background-image: url('../UI-elements/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin:0 auto;
}
.form-hd{
    width:70%;
    padding:2rem 1rem;
}
.form-hd .input-group label{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    font-weight: 600;
    padding-bottom: .8em;
}
.form-hd .input-group label.show{
    color: rgba(229, 255, 255, 1);
    font-weight: 600;
}
.form-hd .input-group{
    margin:0 auto 2em;
    text-align: center;
}
.form-hd .input-group label.show{
    color: rgba(229, 255, 255, 1);
    font-weight: 600;
}
.form-hd .input-group input{
    font-size: .9rem;
    width:100%;
    color: rgba(0,0,0,.5);
    padding-top: .9em; 
    padding-bottom: .9em; 
    text-align:center;
    border-radius: 2em;
    border-color: transparent;
    background: rgba(0,0,0, .1);
    margin:0 auto;
    background: rgba(255, 255, 255, .7);
}
.form-hd button{
    background: rgba(0,0,0, .3);
    color:rgba(255,255,255,.7);
    font-size: 1.2rem;
    border-radius: 1em;
    width:60%;
    margin-top: 1em;
    padding: .5em .4rem;
}
.form-hd button:hover{
    background: rgba(0,0,0, .5);
}
.form-hd p{
    color: rgb(214, 214, 214);
    margin-top: .9em;
    font-size: 1rem;
}
.form-hd p a.signin{
    color: rgb(229, 255, 0);
}
.resp{
    margin:.3rem auto 1.5rem;
    width: 50%;
}
@media (min-width: 768px) {
    .form-hd{
        width:50%;
    }
    .logo{
        width:11rem;
        height:7rem;
    }
    .form-hd .input-group input{
        font-size: 1.1rem;
    }
    .wrapper{
        height: fit-content;
    }
}
@media (min-width: 992px) {
    .form-hd{
        width:30%;
    }
}
/*.form-hd{
    padding:2em;
    width:30%;
}

@media (max-width: 768px) {
}
 */