* {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-image: url('../UI-elements/background.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
}
.wrapper{
    height:100%;
    text-align: center;
}
.loader{
    background-image: url('../UI-elements/loader.gif');
    background-size: cover;
    background-repeat: no-repeat;
    width:90px;
    height:60px;
    margin:0 auto;
}
.logo{
    background-image: url('../UI-elements/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    width:200px;
    height:150px;
    margin:0 auto;
}
.form-hd{
    padding:2em;
    width:30%;
}
@media (max-width: 992px) {
    .form-hd{
        width:55%;
    }
}
@media (max-width: 768px) {
    .form-hd{
        width:80%;
    }
}
.form-hd .input-group{
    margin:0 auto 2em;
    text-align: center;
}
.form-hd .input-group label{
    font-size: 1.3rem;
    color: rgba(255, 255, 255, .7);
    display: inline-block;
    opacity: 0;
    padding-bottom: -1.5em;
}
.form-hd .input-group label.show{
    padding-bottom: .5em;
    opacity: .6;
    font-weight: 600;
}
.form-hd .input-group input{
    font-size: 1.1rem;
    width:100%;
    color: rgba(0,0,0,.5);
    padding-top: .9em; 
    padding-bottom: .9em; 
    text-align:center;
    border-radius: 2em;
    border-color: transparent;
    background: rgba(0,0,0, .1);
    margin:0 auto;
    background: rgba(255, 255, 255, .6);
}

@media (max-width: 768px) {
    .form-hd input, .form-hd button{
        font-size: 1.3rem;
    }
}
.form-hd button{
    background: rgba(0,0,0, .3);
    color:rgba(255,255,255,.7);
    font-size: 1.2rem;
    border-radius: 1em;
    width:40%;
    margin-top: 1em;
    padding: .5em .4rem;
}
.form-hd button:hover{
    background: rgba(0,0,0, .5);
}
.form-hd p{
    color: rgb(214, 214, 214);
    margin-top: .9em;
    font-size: 1rem;
}
.form-hd p a.signin{
    /* color: rgb(255, 255, 255); */
    color: rgb(229, 255, 0);
}
.resp{
    margin:1em auto;
}
