.newMail{
    background-image: url('../UI-elements/newmail.png');
    /* background-color: rgba(185, 35, 115, 0.8); */
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    padding: 1.5rem 1.5rem;
    /* margin:0 auto;
    font-weight: 600; */
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 3rem;
    bottom: 1.1rem;
    right: 1.1rem;
    box-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 0.4);
}
.wrapper .main.selected .newMail{
    display: none;
}
.custom-modal{
    background-color: rgba(0, 0, 0, .7);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    z-index: 30;
    opacity: 0;
    visibility: hidden;
}
#modal:target{
    opacity: 1;
    visibility:visible;
}
#addUsermodal:target{
    opacity: 1;
    visibility:visible;
}
.custom-modal .modal-content{
    background-color: rgb(246, 246, 246);
    width: 70%;
    height: 75%;
    position: absolute;
    top:50%;
    left: 50%;
    z-index: 40;
    transform: translate(-50%, -50%);
    border-radius: .7rem;
    padding: 2rem;
}
.custom-modal .userlist{
    background-color: rgb(251, 251, 251);
    height: 13rem;
    border-radius: .5rem;
}
.custom-modal select{
    margin: 4rem auto;
    width: 70%;
}
.custom-modal .modal-content .modal_close{
    font-size: 2rem;
    color: #555;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
}
.custom-modal .modal-content .modal_heading{
    color: rgba(55, 174, 111, 0.8);
    /* margin-bottom: 1rem; */
    font-size: 1.2rem;
    padding-bottom: .6rem; 
    border-bottom: 1px rgba(0, 0, 0, .3) solid;
}
.form-hd .input-group{
    margin:0 auto .4rem;
    text-align: center;
}
.form-hd .input-group label{
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    font-weight: 600;
    /* padding-bottom: .8em; */
    opacity: 0;
    padding-bottom: -1.5em;
}
.form-hd .input-group label.show {
    opacity: 1;
    padding-bottom: .5em;
    color: rgba(40, 202, 94, 0.9);
    font-weight: 600;
}
.form-hd .input-group input, .form-hd .input-group textarea{
    width:100%;
    text-align:center;
    font-size: 1rem;
    border-radius: .5em;
    border-color: transparent;
    background: rgba(0,0,0, .1);
    margin:0 auto;
}
.form-hd .input-group input {
    font-size: .8rem;
}
.form-hd .input-group textarea{
    max-width: 100%;
    max-height: 11rem;
}
.form-hd .actionbtn{
    margin: 1rem auto;
    width: 80%;
    /* display: flex; */
}
.form-hd .actionbtn button{
    font-size: .8rem;
    width:40%;
    /* flex-grow: 1; */
}
.create-group{
    height: 15rem;
    padding: 1em 0;
    margin: 0 auto;
}
.dp-image {
    height: 10rem;
    padding: 1em;
    margin: 0 0 3rem;
}
.dp-image .dp{
    margin: 0 auto;
    background-image: url('../UI-elements/dp.png');
    background-size: contain;
    background-repeat: no-repeat;
    width:100px;
    height:100px;
}

.dp-image button{
    margin: 1rem auto;
}
.create-group input{
    margin: 1rem auto;
    width: 80%;
    text-align: center;
}
.create-group p{
    margin-top: 2rem;
    font-size: 1rem;
    opacity: .7;
    font-weight: 600;
}
.create-group a, .create-group button{
    margin: .4rem .4rem;
    font-weight:600;
    width: 35%;
    color:rgba(0, 0, 0, 0.7);
    font-size: .8rem;
    display: inline-block;
}
.create-group a{
    background: rgb(199, 187, 15);
    padding: .7rem .4rem;
    border-radius: .2rem;
    color:#fff;
}
.create-group span {
    width: 100%;
}
.msgToCon{
    margin: 1rem auto 0;
    font-size: .8rem;
}
@media(min-width: 992px){
    .create-group a, .create-group button{
        font-size: 1.1rem;
        width: 25%;
    }
    .create-group a{
        padding: .75rem .8rem;
    }
    .newMail{
        right: 34% !important;
    }
}
@media(min-width: 768px){
    .custom-modal .modal-content{
        width: 50%;
        /* height: 65%; */
    }
    .msgToCon{
        margin: 1.2rem auto .5rem;
        font-size: 1rem;
    }
    .create-group a, .create-group button{
        font-size: 1rem;
    }
    .create-group{
        width: 60% !important;
    }
    .create-group a{
        padding: .75rem 1rem;
    }
    .newMail{
        right: 42%;
    }
    [data-tab = 'settings'] .newMail{
        right: 2rem !important;
    }
    .wrapper .main.selected .newMail{
        display: block;
    }
}