input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance: textfield; 
}
.inputs{
    display: block;
    padding: .7em 1em;
    line-height: 1.25;
    color:rgba(0, 0, 0, 0.8);
    background-color: #fff;
    box-sizing:border-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
input::placeholder {
    opacity: .7 !important; 
}
.inline-block{
    display: inline-block;
}
.inline{
    display: inline;
}
.block{
    display: block;
}
.fw-600{
    font-weight: 600;
}
.text-center{
    text-align: center;
}
button:focus, li:focus, input:focus {
    outline: none !important; 
}
.w-100{
    width:100%;
}
.h-100{
    height:100%;
}
ul {
    padding: 0 !important;
    margin: 0 !important; 
}  
li, a {
    text-decoration: none !important;
    list-style-type: none !important;
    cursor: pointer; 
}
.gone {
    display: none !important; 
}
.vanish {
    opacity: 0;
}
.appear{
    opacity: 1;
}
.opac-70{
    opacity:.7;
}
.pointer {
    cursor: pointer; 
}
.wht {
    color: white !important; 
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clr {
    clear: both; 
}
button{
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
.flexdiv{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.flex-center{
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.anim {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}

